#about-me-image {
	display: block;
	height: 50vh;
	margin: auto;
}

#about-me-text {
	text-align: center;
	font-size: 2vh;
	width: 80vw;
	margin: 5vh auto 5vh auto;
	padding: 3vh;
	background-color: rgba(256, 256, 256, 0.5);
	-webkit-text-fill-color: black;
	-webkit-text-stroke-color: red;
	-webkit-text-stroke-width: 0.1px;
}