#about-me-image {
	display: block;
	height: 50vh;
	margin: auto;
}

#about-me-text {
	text-align: center;
	font-size: 2vh;
	width: 80vw;
	width: calc(var(--vw, 1vw) * 80);
	margin: 5vh auto 5vh auto;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-color: red;
	-webkit-text-stroke-width: 0.1px;
}