#content {
	width: 80vw;
	margin: auto;
}

#contact, #map {
	display: inline-block;
	text-align: center;
	width: 39vw;
	width: calc(var(--vw, 1vw) * 39);
	background-color: rgba(256,256,256,.5);
}
#socials {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 39vw;
	width: calc(var(--vw, 1vw) * 39);
	background-color: rgba(256,256,256,.5);
}
#socials-wrapper {
	text-align: center;
}
#contact, #socials {
	float: left;
	height: 31.5vh;
	height: calc(var(--vh, 1vh) * 31.5);
	margin-bottom: 2vh;
}

#map {
	float: right;
	height: 65vh;
	height: calc(var(--vh, 1vh) * 65);
	margin-bottom: 2vh;
}
#google-map {
	height: inherit;
	width: inherit;
	border: 0;
}

.contact-icons, .socials-icons {
	display: inline-block;
	width: 6vh;
	margin: 2vw 2vw;
}

h3 {
	font-size: 2vh;
	padding: 0px 20px;
}

a {
	text-decoration: none;
}