#content {
	text-align: center;
}
.image-container {
	position: relative;
	opacity: 0;
	transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.single {
	width: 80%;
	margin: 10%;
}
.double {
	width: 40%;
	margin: 5%;
    display: inline-block;
    vertical-align: middle;
}

.image {
	width: 100%;
    height: 100%;
	margin: auto;
    max-width: 100%;
    max-height: 100%;
	object-fit: contain;
}
.show {
	opacity: 1;
}

.image-multi {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5%;
    width: 10%;
}