header {
	text-align: center;
	margin-bottom: 3vh;
}

#logo {
	width: 12vh;
	margin: 2vh;
}

h1 {
	font-size: 4vh;
	margin: 0px;
}

#title-splitter {
	height: 0.2vh;
	width: 5vw;
	background-color: black;
	margin: 5px auto 5px auto;
}