html {
	width: 100%;
	height: 100%;
}

@font-face {
  font-family: 'Maiandra GD';
  src: URL('../fonts/Maiandra GD Regular.ttf') format('truetype');
}

body {
	width: 100%;
	height: 100%;
	background-image: url(../../images/background.jpg);
	background-repeat: repeat-y;
	background-size: 100% 100%;
	background-color: #d2cbd3;
	margin: 0px;
	font-family: Maiandra GD;
}

#content {
	min-height: 57vh;
	min-height: calc(var(--vh, 1vh) * 57);
}