html {
	width: 100%;
	height: 100%;
}

@font-face {
  font-family: 'MaiandraGD';
  src: URL('../fonts/Maiandra GD Regular.ttf') format('truetype');
}

body {
	width: 100%;
	height: 100%;
	background-repeat: repeat-y;
	background-size: 100% 100%;
	background-color: #d2cbd3;
	margin: 0px;
	font-family: MaiandraGD, sans-serif;
}

.no-webp body {
	background-image: url(../../images/background.jpg);
}

.webp body {
	background-image: url(../../images/background.webp);
}

#content {
	min-height: 55vh;
	min-height: calc(var(--vh, 1vh) * 55);
}

.image-arrow {
	height: 6vw;
    position: fixed;
    top: 50%;
    z-index: 4;
    opacity: 0.8;
	padding: 2%;
}
.right {
	transform: translate(0, -50%) rotate(0deg);
    right: 5%;
}
.left {
	transform: translate(0, -50%) rotate(180deg);
	left: 5%;
}

.invisible {
	display: none;
}

.fullscreen {
	width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.95);
	display: flex;
    align-items: center;
}