html {
	width: 100%;
	height: 100%;
}

body {
	background-image: url(/BlackForestWoodburnings/images/background.jpg);
	width: 100%;
	height: 100%;
	background-color: #d2cbd3;
	margin: 0px;
	font-family: Maiandra GD;
}

header {
	text-align: center;
}

#logo {
	width: 7%;
	min-width: 64px;
	max-width: 128px;
	margin: 32px;
}

h1 {
	font-size: 2.5em;
	margin: 0px;
}

#title-splitter {
	height: 1px;
	width: 60px;
	background-color: black;
	margin: 5px auto 5px auto;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.socials {
	min-height: 16px;
	max-height: 32px;
	margin: 32px;
}

.socials:hover {
	filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transform: scale(1.01);
}

.socials-column {
	display: inline-block;
}