html {
	width: 100%;
	height: 100%;
}

@font-face {
  font-family: 'Maiandra GD';
  src: URL('../fonts/Maiandra GD Regular.ttf') format('truetype');
}

header {
	text-align: center;
	margin-bottom: 3vh;
	margin-bottom: calc(var(--vh, 1vh) * 3);
}

#logo {
	width: 12vh;
	width: calc(var(--vh, 1vh) * 12);
	margin: 2vh;
	margin: calc(var(--vh, 1vh) * 2);
}

h1 {
	font-size: 4vh;
	font-size: calc(var(--vh, 1vh) * 4);
	margin: 0px;
}

#title-splitter {
	height: 0.2vh;
	height: calc(var(--vh, 1vh) * 0.2);
	width: 5vw;
	background-color: black;
	margin: 5px auto 5px auto;
}

body {
	width: 100%;
	height: 100%;
	background-image: url(../../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #d2cbd3;
	margin: 0px;
	font-family: Maiandra GD;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/*
 * Hamburger Menu
 */
.hamburger {
    padding: 15px 15px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: transparent;
    outline: 0;
    border: 0;
    position: absolute;
    top: 3%;
    left: 2%;
}
.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after,
.hamburger.is-active:hover .hamburger-inner,
.hamburger.is-active:hover .hamburger-inner::before,
.hamburger.is-active:hover .hamburger-inner::after{
    background-color: #F00;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}
.hamburger-box {
    width: calc(var(--vh, 1vh) * 5);
    height: calc(var(--vh, 1vh) * 3.2);
    display: inline-block;
    position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: calc(var(--vh, 1vh) * 4);
    height: calc(var(--vh, 1vh) * 0.4);
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
  .hamburger-inner::after {
    bottom: -10px;
}
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
    top: calc(var(--vh, 1vh) * 1);
    transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
    top: calc(var(--vh, 1vh) * 2);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

/*
 * Instagram Gallery
 */
.instagram-post, .instagram-post-invisible {
	position: absolute;
    width: 55vh;
	width: calc(var(--vh, 1vh) * 55);
	max-width: 90vw;
    height: 55vh;
	height: calc(var(--vh, 1vh) * 55);
	max-height: 90vw;
    background: red;
    color: white;
    font-size: 2vh;
	font-size: calc(var(--vh, 1vh) * 2);
	left: 50%;
    transform: translate(-50%);
	transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.instagram-post {
	opacity: 1;
}
.instagram-post-invisible {
	opacity: 0;
}
.instagram-likes {
	position: absolute;
    bottom: 0;
    left: 0;
    margin: 2vh;
	margin: calc(var(--vh, 1vh) * 2);
}
.instagram-comments {
	position: absolute;
    bottom: 0;
    right: 0;
    margin: 2vh;
	margin: calc(var(--vh, 1vh) * 2);
}
.instagram-caption {
	width: 45vh;
	width: calc(var(--vh, 1vh) * 45);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.instagram-image, .instagram-image-invisible {
	position: absolute;
    width: 100%;
    height: 100%;
	object-fit: cover;
	transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.instagram-image {
	opacity: 1;
}
.instagram-image-invisible {
	opacity: 0.15;
}
.instagram-image:hover {
	opacity: 0.15;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.instagram-symbols {
	height: 2vh;
	height: calc(var(--vh, 1vh) * 2);
}

/*
 * Socials
 */
.socials {
	min-height: 2vh;
	min-height: calc(var(--vh, 1vh) * 2);
	max-height: 3.2vh;
	max-height: calc(var(--vh, 1vh) * 3.2);
	margin: 3vh;
	margin: calc(var(--vh, 1vh) * 3);
}

.socials:hover {
	filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transform: scale(1.01);
}

.socials-column {
	display: inline-block;
}